<ion-view title="Signup Page">
	<ion-content>
		<form ng-submit="signupUser($event)">
			<div class="list">
				<label class="item item-input">
					<span class="input-label">First Name</span>
					<input type="text" ng-model = "user.FirstName">
				</label>
				<label class="item item-input">
					<span class="input-label">Last Name</span>
					<input type="text" ng-model = "user.LastName">
				</label>
				<label class="item item-input">
					<span class="input-label">Email</span>
					<input type="text"  ng-model = "user.Email">
				</label>
				<label class="item item-input">
					<span class="input-label">Password</span>
					<input type="password" ng-model = "user.Password">
				</label>
			</div>
			
			
			<div class="button-bar">
				<button class="button button-positive" type="submit" >Signup</button>
				<a class="button button-positive" ui-sref = "login">Already Signed Up</a>
	
			</div>
		</form>
	</ion-content>
</ion-view>